build/**
.DS_Store
.github/
.vscode/
.env
lib60870-C/build
lib60870-C/CmakeFiles
lib60870-C/dependencies/**
build-pqc/**
.git_disabled/**
liboqs/**
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
**/*.sln
**/*.dir